{% extends 'Blog/base.html' %}

{% load static %}

{% block content %}





<main>
    <!-- Home -->
    <section class="container" id="home">
        <!-- #1 contenedor izquierdo -->
        <div id="home_left">
            <h1 class="title" id="home-left-h1">Keep your Body Moving.</h1>
            <p class="p_black">Manage makes it simple for software teams to plan day-to-day tasks while keeping the large team goals in view </p>
            <button class="button" id="home-button">Get Started</button>
        </div>

        <!--#2 contenedor derecho img -->
        <img id="tracker" src="{% static 'Blog/imagenes/undraw_fitness_tracker_3033.svg' %}" alt="grafico">
   
    <!--Referrals-->
    <section id="referrals">
        <h2 class="title" id="referrals-title">What they´ve said</h2>
        <div class="container">
            <!--#1 Referral-->
            <div class="card disappear">
                <img src="{% static 'Blog/imagenes/avatar-anisha.png' %}" alt="profile_pic" class="img-profile">
                <div class="card-p">
                    <p class="title card-p-title">Anisha Li</p>
                    <p class="p_gray card-p-p_gray">“Manage has supercharged our team´s workflow. The ability to maintain visibility on larger milestones at all times keeps everyone motivated.”</p>
                </div>
            </div>
            <!--#2 Referral-->
            <div class="card">
                <img src="{% static 'Blog/imagenes/avatar-ali.png' %}" alt="profile_pic" class="img-profile">
                <div class="card-p">
                    <p class="title card-p-title">Ali Bravo</p>
                    <p class="p_gray card-p-p_gray">“We have been able to cancel so many other subscriptions since using manage. There ir no more cross-channel confusion and everyone is much more focused.”</p>
                </div>
            </div>
            <!--#3 Referral-->
            <div class="card disappear">
                <img src="{% static 'Blog/imagenes/avatar-richard.png' %}" alt="profile_pic" class="img-profile">
                <div class="card-p">
                    <p class="title card-p-title">Richar Watts</p>
                    <p class="p_gray card-p-p_gray">“Manage allows us to provide structure and process. It keeps us organized and focused. I can´t stop recommending them to everyone i talk to!”</p>
                </div>
            </div>
        </div>
        <div class="appear dots">
            <div class="referrals-dots"></div>
            <div class="referrals-dots" id="selected"></div>
            <div class="referrals-dots"></div>
            <div class="referrals-dots"></div>
        </div>
        <button class="button" id="referrals-button">Get Started</button>
    </section>

    <!--prefooter-->
    <section id="pre-footer" class="container">
        <h2 id="h2-pre-footer">Simplify how your team words today.</h2>
        <button class="button" id="pre-footer-button">Get Started</button>
    </section>
</main>

{% endblock %}