
{% extends 'Blog/base.html' %}
{% load humanize %}
{% block content %}
{% load static %}


    
  {% for post in posts %}
    

    
        <div class= "article">
          <div class= "mains" >
            <figure class= "Article__picture">
            <img src=   "{{post.image.url}}" >
            </figure>
            <div class= "Article__content">
            <h2 class= "username">@{{post.user.username}}</a></h2>
            <h2> Post By: {{post.user.first_name}}  {{post.user.last_name}}</h2>
            <i class="clock"></i>
            <time class= "Article__date" data-time= "#">{{post.timestamp }}</time>
            <h2 class= "Article__title"> {{post.title}}</h2>
            <br>
            <h2 class= "sub_title"> {{post.sub_title}}</h2>
            <br>
           
          
            <button><a href= "{% url 'postdetail' post.id  %}">  READ MORE</a></button>
           
        
          </div>

        </div>  
   
            {% if request.user == post.user %}
            <div >

              <button><a class= "follow-button" id= "submit" href= "{% url 'post'  %}">  New Post</a></button>
              <button><a class= "follow-button" href= "{% url 'editPost' post.id %}">  Editar Post</a></button>
              <button><a class= "follow-button" href= "{% url 'delete' post.id %}">  Eliminar Post</a></button>
            </div>
            {% endif %}
            
          
          </div>
          
  {% endfor%}


<br/><br/>

    <div class= "columna">
     
        {% if posts.has_previous %}
          <ol>
          <button> <a href= "?page=1"> Primera pag. </a></button>
          <br/>
          <button> <a href= "?page= {{posts.previous_page_number}}" id= "submit" > Anterior</a></button>
          <br/>  
          </ol>
        {% endif %} 
    </div>
   
<br/>

    <div class= "container_button">
    
      {% if posts.has_next %}
        <ol>
        <button><a href= "?page= {{posts.next_page_number}}" > Siguiente</a></button>
        <br>
        <button><a href="?page={{ posts.paginator.num_pages }}"> Ultima pag.</a></button>
        <br/>
        </ol>
    
      {% endif %} 
    </div>
<br/> 
</ol>   
<br/>
      <span class="current">
        Pagina {{ posts.number }} de {{ posts.paginator.num_pages }}.
      </span>
      
    
{% endblock %}