
{% extends 'Blog/base.html' %}
{% block content %}
{% load static %}


    <article>
      <div class= "article">
        <div class= "mains" >
        <br>
        <h2 class= "Article__title"> {{object.title}}</h2>
        <h2 class= "sub_title"> {{object.sub_title}}</h2>
        <br>
          <figure class= "Article__picture">
          <img src=   "{{post.image.url}}" >
          </figure>
        <br>
          <p class="Article__paragraph"> {{object.content|safe}}</p>
          <br>
          <hr>
          <br>
          <div class= "Article__content">
          <h2 class= "username">@{{post.user.username}}</a></h2>
          <h2>Post by: {{object.user.first_name}}  {{object.user.last_name}}</h2>
          <i class="clock"></i>
          <time class= "Article__date" data-time= "#">{{object.timestamp }}</time>
         
      </div>
        </article>

    <button><a  id= "submit" href= "{% url 'pages' %}">  Back</a></button>
</div>

<br/><br/>


<!--PERFIL DE USUARIO DEL POST-->

<div class= "mains_profile">
  {% if post.user.profile.image %}
  <img class= "profile" src= "{{ post.user.profile.image.url }}">
  {%else%}
  <img class= 'profile' src= "{% static 'Blog/imagenes/defaul_avatar.jpg' %}">
  {%endif%}
  <h2 class= "username">@{{post.user.username}}
  <h2>{{post.user.first_name}} {{post.user.last_name}}</h2>
  <h2>{{post.user.email}}</h2>
  <h2> <a href= "{{ post.user.profile.link}} "> Website </h2></a>
  <h2>{{post.user.profile.bio}}</h2>
</div>



<br/><br/>

<!--SECCION DE COMENTARIOS-->


<h1><center>Comments...</center></h1>

<br/>

{% if not post.comments.all %}

      <h1><center>No comments yet...</h1></center>
      
      <button><a href= "{% url 'add_comment' post.pk %}"> Add One</a></button>
  
{% else %} 
<div>
<button><a href= "{% url 'add_comment' post.pk %}"> Add Comment</a></button>
</div>
<br/><br/>
  
{% for comment in post.comments.all %}
<br/>
        <div class = "container_box">
          <div class= "box_comments">
           {{ comment.name}} - 
           {{comment.timestamp}}
        
           <br/>
           {{comment.content}}
          </div>
        </div>
<br/><br/>

{% endfor%}

      <div>
      <button><a href= "{% url 'add_comment' post.pk %}"> Add Comment</a></button>
      </div>
{% endif %}
<br/>



{% endblock %}



